@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
body {
	font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
	font-size: 16px;
	overflow-x: hidden;
	color: #2a3237;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.parallax {
	position: absolute;
	overflow: hidden;
	width: 100%;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}

.parallax img {
	width: 100%;
	height: 100%;
}
/* Preloader */

.preloader {
	position: fixed;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color: white;
}

.preloader img {
	position: absolute;
	top: calc(50% - 32px);
	left: calc(50% - 32px);
}


/* Typography */

p {
	font-size: 18px;
	line-height: 1.5;
	color: #8a8e91;
	margin-top: 25px;
	margin-bottom: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', 'Avenir Next', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
	position: relative;
	margin: 10px 0;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

ul.white-list {
	padding: 0;
	list-style-type: none;
}

ul.white-list li {
	font-size: 18px;
	margin: 10px 0;
	color: #fff;
}

ul.white-list li:before {
	content: ' ';
	position: relative;
	top: -3px;
	display: inline-block;
	width: 6px;
	height: 6px;
	margin-right: 15px;
	background: white;
}

header {
	position: relative;
	width: 100%;
	color: white;
	background: rgba(28, 36, 65, 0.93);
	background-size: cover;
}

header .table {
	display: table;
	height: 100%;
}

header .container {
	height: 100%;
}

header .header-text {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
}

header .typed {
	display: inline-block;
	margin: 0;
}

header .typed-cursor {
	font-size: 60px;
	display: inline-block;
	margin: 0 10px;
	color: #00a8ff;
	-webkit-animation-name: flash;
	animation-name: flash;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

a {
	text-decoration: none;
	color: #00a8ff;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Navigation Bar ( Navbar ) */

nav.navbar {
	position: absolute;
	z-index: 9500;
	width: 100%;
	width: 100vw;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

nav.navbar .navbar-nav li.active a:not(.btn) {
	color: #D8446C !important;
}

nav.navbar-fixed-top {
	z-index: 9499;
	top: 0;
	padding: 25px 0;
	opacity: 0;
	background: white;
	box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05);
}

nav.navbar-fixed-top .navbar-nav > li > a:not(.btn) {
	color: #bbb;
}

.icon-bar {
	background: #bbb;
}

/* Blink Cursor */

.blink {
	position: relative;
	top: 4px;
	display: inline-block;
	width: 4px;
	height: 50px;
	height: 5vh;
	margin: 0 10px;
}

.navbar {
	top: 50px;
}

.container {
	position: relative;
	z-index: 1;
}

/* Sections */
section {
	position: relative;
}

.section {
	padding: 40px 0;
	background: #fff;
}

.section-padded {
	padding: 140px 0 40px;
}

.cut-top {
	content: ' ';
	position: absolute;
	z-index: 1;
	top: -80px;
	left: 0;
	width: 0;
	height: 0;
	border-top: 80px solid transparent;
	border-right: 30px solid white;
}

.cut-bottom {
	content: ' ';
	position: absolute;
	z-index: 1;
	bottom: -80px;
	left: 0;
	width: 0;
	height: 0;
	border-bottom: 80px solid transparent;
	border-left: 30px solid white;
}

.ripple-effect {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: white;
	-webkit-animation: ripple-animation 2s;
	animation: ripple-animation 2s;
}

pre {
	background-color: #222222;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
}

#content pre {
	border-left: 5px solid #222222;
	overflow-x: auto;
	padding-left: 20px;
	word-break: normal;
	word-wrap: normal;
	white-space: pre;
}

dt {
	margin-top: 10px;
}

.cse .gsc-search-button input.gsc-search-button-v2,
input.gsc-search-button-v2 {
	height: 26px !important;
	margin-top: 0 !important;
	min-width: 13px !important;
	padding: 5px 26px !important;
	width: 68px !important;
}

.gsc-input-box{
margin-top: 0 !important;
height:29px !important;
}

.column-in-center{
    float: none;
    margin: 0 auto;
}

/* Footer */

footer {
	padding: 40px 0 40px;
	background: #262E44;
	-webkit-background-size: cover;
	background-size: cover;
}

footer .trial-button {
	overflow: hidden !important;
	margin: 40px 0;
}

footer .open-blink {
	content: ' ';
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 20px;
	border-radius: 50%;
	background-color: #4caf50;
	-webkit-animation-name: flash;
	animation-name: flash;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

footer .open-blink:before {
	content: ' ';
	position: absolute;
	top: -8px;
	left: -8px;
	display: inline-block;
	width: 30px;
	height: 30px;
	opacity: 0.1;
	border-radius: 50%;
	background-color: #4caf50;
}

footer .bottom-footer {
	margin-top: 50px;
}

footer .social-footer {
	padding: 0;
	list-style: none;
}

footer .social-footer li {
	display: inline-block;
	margin: 0 10px;
}

footer .social-footer li a {
	font-size: 24px;
	color: #fff;
}

footer .social-footer li:hover a {
	color: #D8446C;
}

/* Mobile Nav */
.mobile-nav {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	opacity: 0;
	background: rgba(255, 255, 255, 0.98);
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.mobile-nav.active {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.mobile-nav ul {
	display: table-cell;
	padding: 0;
	list-style: none;
	vertical-align: middle;
}

.mobile-nav ul li {
	margin: 25px 0;
}

.mobile-nav ul li a:not(.btn) {
	color: #aaa;
}

.mobile-nav a.close-link {
	font-size: 24px;
	position: absolute;
	bottom: 0px;
	left: calc(50% - 10px);
	left: 0;
	width: 100%;
	padding: 15px 0;
	color: #fff;
	background: #D8446C ;
}

.row.title {
	padding: 0 20px;
}

.light {
	font-weight: 300;
}

.regular {
	font-weight: 400;
}

.bold {
	font-weight: bold;
}
/* Colors */

.white {
	color: white;
}

.light-white {
	color: rgba(255, 255, 255, 0.5);
}

.white-bg {
	background: white;
}

.gray-bg {
	background: #f7f7f7;
}

.blue {
	color: #D8446C ;
}

.blue-bg {
	background: #D8446C ;
}

.muted {
	color: #989da0;
}

.margin-top {
	margin-top: 150px;
}

@media(max-width:992px) {
	h1 {
		font-size: 36px;
	}
	h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 20px;
	}
	h5 {
		font-size: 16px;
	}
	h6 {
		font-size: 12px;
	}
	.section {
		padding: 30px 0;
	}
}

/* Media Queries */

@media(max-width:991px) {
	.text-center-mobile {
		text-align: center !important;
	}
}

/* @media(max-width: 768px) {
	.modal {
		padding: 0 10px !important;
	}
} */

@media(max-width: 400px) {
	header .typed-cursor {
		display: none;
	}
}